<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        .item { width: 30%; float: left; margin: 1%; }
        .page-break { clear: both; page-break-after: always; }
    </style>
</head>
<body style="font-size: 85%;">
{{$header := .Message.DD801B.Header}}
{{$body := .Message.DD801B.Body}}
{{range $index, $item := .Message.DD801B.Body.EDDContainer.ConsigneeTraders}}

<table border="1" cellpadding="5" cellspacing="0" width="100%">
    <tr>
        <td>
            Dokument e-DD
        </td>
    </tr>
    <tr>
        <td align="right">
            <small>Identyfikator komunikatu:</small> {{ $header.MessageIdentifier}}, utworzonego: {{$header.DateOfPreparation}} {{$header.TimeOfPreparation}}<br>
            <small>Numer LRN przemieszczenia:</small> {{ $body.EDDContainer.EDD.LocalReferenceNumber}}<br>
            <small>Numer ARC przemieszczenia:</small> {{ $body.EDDContainer.EDD.DeliveryDocumentReference.DeliveryDocumentAdministrativeReferenceCode}}<br>
            <small>Data i czas pierwszej walidacji projektu e-DD:</small> {{$body.EDDContainer.EDD.DateAndTimeOfValidationOfEDD}}
        </td>
    </tr>
    <tr>
        <td>
            <table width="100%" cellpadding="5" cellspacing="0"  style="border-collapse: collapse;">
                <tr>
                    <td width="50%" valign="top">

                        <strong>Podmiot odbierający</strong><br>

                    </td>
                    <td width="50%" valign="top" style="border-left: 1px solid black;">
                        <strong>Podmiot miejsce dostawy</strong><br>
                    </td>
                </tr>
            </table>
            <table width="100%" cellpadding="5" cellspacing="0"  style="border-collapse: collapse;">
                <tr>
                    <td width="50%" valign="top">
                        {{ $item.ConsigneeTrader.TraderName}}<br>
                        {{ $item.ConsigneeTrader.StreetName }} {{$item.ConsigneeTrader.StreetNumber}},<br>
                        {{ $item.ConsigneeTrader.Postcode }} {{ $item.ConsigneeTrader.City }}<br>
                        Identyfikator podmiotu: {{ (getId $item.ConsigneeTrader.TraderId ) }}
                    </td>
                    <td width="50%" valign="top" style="border-left: 1px solid black;">
                        {{ if ne $item.DeliveryPlaceTrader.StreetName ""}}
                        {{ $item.DeliveryPlaceTrader.TraderName}}<br>
                        {{ $item.DeliveryPlaceTrader.StreetName }} {{$item.DeliveryPlaceTrader.StreetNumber}},<br>
                        {{ $item.DeliveryPlaceTrader.Postcode }} {{ $item.DeliveryPlaceTrader.City }}<br>
                        Identyfikator podmiotu: {{ (getId $item.DeliveryPlaceTrader.TraderId ) }}
                        {{ else }}
                        {{ end }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            Odebrano litrów: ....................<br>
            Czytelny podpis (imię i nazwisko): ................................................................................
        </td>
    </tr>
    <tr>
        <td>
            Oznaczenie jednostek transp. <b>DSW PY11</b>  Kod wyrobu akcyzowego: <b>{{$body.EDDContainer.BodyEDD.ExciseProductCode}}</b> Kod CN: <b>{{$body.EDDContainer.BodyEDD.CnCode}}</b>
            Ilość: <b>{{$body.EDDContainer.BodyEDD.Quantity}}</b> Masa brutto: <b>{{$body.EDDContainer.BodyEDD.GrossWeight}}</b> Masa netto: <b>{{$body.EDDContainer.BodyEDD.NetWeight}}</b>Opis handlowy [pl]: <b>{{$body.EDDContainer.BodyEDD.CommercialDescription.Value}}</b>
        </td>
    </tr>
</table>
{{if (check $index)}}
<div class="page-break"></div>
{{end}}

{{end}}
</body>
</html>